.footer-container{
    color: #fff;
    text-align: center;
}
.cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.content{
    color: #fff;
}
.card{
    color: #fff;
    padding-top: 20px;
}
.description{
    padding: 1px 10%;
    margin-bottom: 20px;
}

@media(max-width:750px){
    .card {
        width: 100vw;
    }
}  

.copy-right{
    border-top: 1px solid rgb(71, 71, 71);
    margin-top: 30px;
    padding-top: 20px;
    color: rgb(129, 129, 129);
}