@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Akronim&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Lexend:wght@100..900&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rock+Salt&display=swap');

.register-container{
    background-color: #0b0b0b;
    color: #fff;
    text-align: center;
    padding: 1px 10%;
    padding-bottom: 30px;
}
.description{
    margin-bottom: 20px;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.8;
    margin: auto 20px;
    
}
.register-card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-evenly;
    margin: 0;
    margin-top: 30px;
    
}
.infotop{
    font-family: 'Orbitron', sans-serif;
}
.name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 30px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px; */
    margin-top: 0;
}
.content{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 40px;
}
.member{
    font-size: 15px;
    margin-top: 10px;
    font-weight: 300;
    margin-bottom: 0;
}
.name {
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    bottom: 15px;
    margin: 0 15px;
    font-weight: 500;
  }
  .price{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
  }

  .event-head-text {
    font-size: 28px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    word-spacing: 4px;
    
    /* Custom underline */
    display: inline-block;
    position: relative;
  }
  
  .event-head-text::after {
    content: "";
    position: absolute;
    left: 7%;  
    width: 86%; 
    height: 4px;
    background-color: #78C00C;
    bottom: -9px; /* Adjust based on text-underline-offset */
  }
  
 @media(max-width:760px){
    .register-container{
        padding: 1px 2%;
    }

    .event-head-text {
        font-size: 24px;
    }
    .description{
        font-size: 16px;
    }

 } 
  
 @media(max-width:560px){
    .register-container{
        padding: 1px 1%;
    }

    .event-head-text {
        font-size: 22px;
    }
    .description{
        font-size: 14px;
    }

 } 

 @media(max-width:370px){
    .register-container{
        padding: 1px;
    }

    .event-head-text {
        font-size: 20px;
    }
    .description{
        font-size: 12px;
        margin: auto 0px;
    }

 } 